In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/responses.csv')
data = data.drop(data.iloc[228:].index)

In [3]:

data.head()

,Timestamp,Gender,Are you in NSO?,Which sports do you play regularly?,How long have you been playing sport?,What are the main reasons for your involvement in sports?,How many days a week do you play?,What are the reasons for not playing regularly?,Do you watch any sport?,"Do you play esports? (Valorant, BGMI, Rocket League)",Do you prefer esport over traditional sports?,To what level of attention you think does the institute/coaches give to the sport(s) you play?,What do you think about the number of sport events conducted on campus?,How do academics/club participations affect your involvement in sports? Choose the most appropriate reason,How many clubs are you a part of? (other than sports),Email Address,Branch,Program,Year
0,4/20/2022 13:05:26,Male,No,"Others (Chess, Carrom, Billiards, Squash etc.)",> 5 years,"Fitness, Recreational purpose, To socialize",7,"No company, I play regularly",No,No,Yes,I have no idea,Somewhat too little,Exams and deadlines,0,cs16btech11028@iith.ac.in,CS,BTECH,16
1,4/22/2022 18:31:48,Female,No,Basketball,2-5 years,"Fitness, I join my friends, To socialize",5,I play regularly,Yes,No,No,About the right amount,About the right amount,Internship/project related work,2,ee16resch11014@iith.ac.in,EE,RESCH,16
2,4/22/2022 21:25:13,Female,No,Table Tennis,2-5 years,Recreational purpose,3,No company,No,No,No,There is no coach,About the right amount,Internship/project related work,0,ma16m18p100001@iith.ac.in,MA,MTECH,16
3,4/20/2022 16:27:43,Male,No,Martial Arts,2-5 years,Fitness,7,I play regularly,No,No,No,I have no idea,Somewhat too little,Others,0,MS17RESCH11003@IITH.AC.IN,MS,RESCH,17
4,4/20/2022 18:58:59,Female,No,"Swimming, Athletics (Track and Field)",< 1 year,"Fitness, Recreational purpose",5,I play regularly,Yes,No,No,About the right amount,About the right amount,Others,0,bo17resch01001@iith.ac.in,BO,RESCH,17

In [ ]:
t = data[data['What do you think about the number of sport events conducted on campus?']=='About the right amount']['How many days a week do you play?']

In [ ]:
t.describe()

count    122.000000
mean       3.500000
std        2.156098
min        0.000000
25%        2.000000
50%        4.000000
75%        5.000000
max        7.000000
Name: How many days a week do you play?, dtype: float64

In [ ]:
t = data[data['What do you think about the number of sport events conducted on campus?']=='Somewhat too little']
t = t[t['What are the reasons for not playing regularly?'].str.contains('Time',na=False)]['How many days a week do you play?']
t.describe()

count    57.000000
mean      3.087719
std       2.055313
min       0.000000
25%       2.000000
50%       3.000000
75%       5.000000
max       7.000000
Name: How many days a week do you play?, dtype: float64

In [ ]:
t = data[data['What do you think about the number of sport events conducted on campus?']!='Somewhat too little']
t = t[t['What are the reasons for not playing regularly?'].str.contains('Time',na=False)]['How many days a week do you play?']
t.describe()

count    81.000000
mean      3.074074
std       1.787301
min       0.000000
25%       2.000000
50%       3.000000
75%       5.000000
max       7.000000
Name: How many days a week do you play?, dtype: float64

# Hypothesis Testing

1. $μ_{NSO} - μ_{NSS} > 0$

In [ ]:
# Since the sample size = 228 (>30) is sufficiently large, we can use one mean t-test

# Considering only BTech students 
t = data[data['Program']=='BTECH']

In [ ]:
t['Are you in NSO?'].value_counts()

Yes    83
No     81
Name: Are you in NSO?, dtype: int64

In [ ]:
x = t[t['Are you in NSO?'] == 'Yes']['How many days a week do you play?']
y = t[t['Are you in NSO?'] == 'No']['How many days a week do you play?']

In [ ]:
x.describe()

count    83.000000
mean      4.048193
std       1.937459
min       0.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       7.000000
Name: How many days a week do you play?, dtype: float64

In [ ]:
y.describe()

count    81.000000
mean      2.925926
std       2.240412
min       0.000000
25%       1.000000
50%       3.000000
75%       5.000000
max       7.000000
Name: How many days a week do you play?, dtype: float64

In [ ]:
n1 = x.count()
n2 = y.count()
u1 = x.mean()
u2 = y.mean()
s1 = x.std()
v1 = np.square(s1)
s2 = y.std()
v2 = np.square(s2)

In [ ]:
d0 = 0
alpha = 0.05
df = n1+n2-2
t_alpha = 1.6543 # From an online t-value calculator

sp = np.sqrt(((n1-1)*v1+(n2-1)*v2)/(n1+n2-2))
t = ((u1-u2)-d0)/(sp*np.sqrt(1/n1 + 1/n2))
if(t>=t_alpha):
  print('Reject H0')
else:
  print('There is insufficient evidence to conclude anything about the hypothesis')

Reject H0

In [ ]:
t

3.4338322222921733

2. $μ_{B} - μ_{G} > 0$

In [ ]:
x = data[data['Gender']=='Male']['How many days a week do you play?']
y = data[data['Gender']=='Female']['How many days a week do you play?']

In [ ]:
n1 = x.count()
n2 = y.count()
u1 = x.mean()
u2 = y.mean()
s1 = x.std()
v1 = np.square(s1)
s2 = y.std()
v2 = np.square(s2)

In [ ]:
d0 = 0
alpha = 0.05
df = n1+n2-2
t_alpha = 1.6516 # From an online t-value calculator

sp = np.sqrt(((n1-1)*v1+(n2-1)*v2)/(n1+n2-2))
ts = ((u1-u2)-d0)/(sp*np.sqrt(1/n1 + 1/n2))
if(t>=t_alpha):
  print('Reject H0')
else:
  print('There is insufficient evidence to conclude anything about the hypothesis')

Reject H0

3. $μ_{NSO} > 2$

In [ ]:
t = data[data['Program']=='BTECH']
x = t[t['Are you in NSO?']=='Yes']['How many days a week do you play?']

n1 = x.count()
u1 = x.mean()
s1 = x.std()
v1 = np.square(s1)

d0 = 2

t = (u1 - d0)/(s1/np.sqrt(n1))
t_alpha = 1.6632

if(t>=t_alpha):
  print('Reject H0')
else:
  print('There is insufficient evidence to conclude anything about the hypothesis')

Reject H0

4. $σ_1^2 < σ_2^2$

In [8]:
data1=data[data['Are you in NSO?']=='Yes']
data2=data[data['Are you in NSO?']=='No']

In [9]:
s1=data1['How many days a week do you play?'].var()
s2=data2['How many days a week do you play?'].var()

In [11]:
F=s1/s2
print(F)
# since F(0.05,120,120)=1.25 we have F<F(alpha,df1,df2). Therefore Hypothesis can be rejected.

0.6803310676345594

5. $\pi_{1} - \pi_{2} > 0$

In [4]:
t1 = data[data['How long have you been playing sport?']=='> 5 years']
a1 = t1[t1['What are the main reasons for your involvement in sports?'].str.contains('Fitness',na=False)]
n1 = t1.shape[0]
p1=a1.shape[0]/n1


t2 = data[data['How long have you been playing sport?']!='> 5 years']
a2 = t2[t2['What are the main reasons for your involvement in sports?'].str.contains('Fitness',na=False)]
n2 = t2.shape[0]
p2=a2.shape[0]/n2

In [5]:
print(p1,p2)

0.7684210526315789 0.6616541353383458

In [6]:
z = (p1-p2)/np.sqrt((p1*(1-p1)/n1)+(p2*(1-p2)/n2))
alpha = 0.05
z_alpha = 1.645
if(z>=z_alpha):
  print('Reject H0')
else:
  print('There is insufficient evidence to conclude anything about the hypothesis')

Reject H0